.row{
  max-width:100%;

}
.container-fluid{
  width: 100%;
  max-width: 100%;
}

.container{
  width: 80%;
  max-width: 80%;
}
.col-md-1{

  display: inline-block;
  width: 10%;
}
.col-md-2{
  display: inline-block;
  width: 20%;
}
.col-md-3{
  display: inline-block;
  width: 30%;
}
.col-md-4{
  display: inline-block;
  width: 40%;
}
.col-md-6{
  display: inline-block;
  width: 50%;
}

.col-md-5{
  display: inline-block;
  width: 47%;
}
.col-md-7{
  display: inline-block;
  width: 70%;
}
.col-md-8{
  display: inline-block;
  width: 80%;
}
.col-md-9{
  display: inline-block;
  width: 90%;
}
.col-md-10{
  display: inline-block;
  width: 100%;
}
.col-md-offset-1{
  margin-left: 10%;
}
.col-md-offset-2{
  margin-left: 20%;
}
.col-md-offset-3{
  margin-left: 30%;
}
.col-md-offset-4{
  margin-left: 40%;
}
.col-md-offset-6{
  margin-left: 50%;
}
.col-md-offset-65{
  margin-left: 60%;
}
